#accor{
    padding-top: 10%;
}

.col{
    height: 100px;
    width: 400px;
}

body{
    background-color: #6BCBE1;
}

button{
    background-color: #033E76;
    color: white;
}

.badge{
    background-color: #033E76;
}

.accordJudul{
    background: #033E76;
    color: white;
}

#accordion{
    background-color: #6BCBE1;
}

.accordIsi{
    background: #1C8DB8;
    color: white;
}

.btn {
    margin-left: 46%;
}

.content {display:none;}
.preload img{ 
        margin-top: 16%;
        margin-left: 43%;
    }
