<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <link rel="stylesheet" href="{% static '/landing/css/accor.css' %}">
        
    <script src="{% static 'landing/js/land.js' %}"></script>

    <body id="profilBody">
        <div class="preload"><img src="https://image.ibb.co/gL5c8V/Spinner-1s-200px.gif"></div>

        <div class="content">
            <button class="btn " id="buttonTheme">Theme : Blue</button>

            <div class="container-fluid">
            <div class="row">
                <div class="col">
                </div>
        
                <div class="col" id="accor">
                    <div id="accordion">
                        <h3 class="accordJudul">Aktivitas Saat Ini</h3>
                        <div class="accordIsi">
                            <ul style="list-style-type:disc">
                                <li>Bermain Gitar</li>
                                <li>Bermain Game</li>
                                <li>Kuliah di Fasilkom</li>
                            </ul>
                        </div>
        
                        <h3 class="accordJudul">Pengalaman Organisasi/ Kepanitiaan</h3>
                        <div class="accordIsi">
                            <ul style="list-style-type:disc">
                                <li>Passif</li>
                                <li>Passif</li>
                                <li>Passif</li>
                            </ul>
                        </div>
        
                        <h3 class="accordJudul">Prestasi</h3>
                        <div class="accordIsi">
                            <ul style="list-style-type:disc">
                                <li>Grade 6 Gitar Klasik</li>
                                <li>Bermain Game Sepanjang Hari</li>
                            </ul>
                        </div>
        
                    </div>
        
        
                </div>
        
                <div class="col">
                </div>
        
        
            </div>
            </div>
        
        </div>
    
    
        </body>
    
    
    
    </html>
    