<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Feril</title>
</head>
<body>

<h1>Hello, Apa kabar?</h1>
<h1>
    <a href="http://tddferil.herokuapp.com/profile">My Profile</a>
</h1>

<section name="form">
    <form id="form" method="POST" action="/addstatus">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="submit">Submit</button>
    </form>

    <form id="form1" method="DELETE" action="/deletestatus">
        <button type="submit" id="delete">Delete</button>
    </form>

</section>

<table class="table table-dark table-striped table-responsive w-100 d-block d-xl-table d-md-table d-xs-table" >
        <thead>
            <th scope="col">Status</th>
            <th scope="col">Waktu</th>
            
        </thead>
        <tbody>
            {% for i in all %}
            <tr>
                <td scope="col"> {{i.status}} </td>
                <td scope="col"> {{i.waktu}} </td>
                
    
            </tr>
                
        {% endfor %}
        </tbody>
    </table>

</body>
</html>