<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Feril</title>
</head>
<body>

<table class="table table-dark table-striped table-responsive w-100 d-block d-xl-table d-md-table d-xs-table" >
        <thead>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>

            
        </thead>
        <tbody>
            {% for i in all %}
            <tr>
                <td scope="col"> {{i.name}} </td>
                <td scope="col"> {{i.email}} </td>
                <td scope="col"> Tidak Semudah Itu Ferguso </td>

                
    
            </tr>
                
        {% endfor %}
        </tbody>
    </table>

</body>
</html>